* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {	
	background-color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}


/*NAVBAR*/

nav {
	background-color: transparent;
	width: 100%;
	position: fixed;
	z-index: 20;	
}

.nav-container {
	width: 93%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav h2 {	
	padding: 13px 13px 13px 0px;
}

nav h2 a {
	color: white;
	text-decoration: none;
	outline: none;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	padding: 5px 0px 5px 25px;
	text-transform: uppercase;
}

nav ul a {
	color: white;	
	text-decoration: none;
}

nav ul a:hover {
	color: gray;	
	transition: all 0.2s ease-in-out;
	font-weight: bold;
	text-shadow: 1px 1px 3px black;
}

nav i {
	padding-right: 7px;	
}

.navBarStyle {
	background: url("images/nav.jpg") center no-repeat;
	background-size: cover;	
	box-shadow: 0px 3px 10px gray;
}


/*INTRO*/

.intro-container {
	position: relative;
	background: url(images/bg1.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
}

.intro-content {
	position: absolute;
	top: 32%;
	left: 50%;
	color: white;
	cursor: pointer;
	font-family: sans-serif;
}

.intro-content:hover {
	color: lightgray;
}

.intro-content h1 {	
	font-size: 3.2rem;
	padding-right: 30px;
	text-shadow: 3px 2px 5px black;	
}

.intro-content h3 {	
	font-size: 2rem;
	padding-right: 30px;
	text-shadow: 3px 2px 3px black;	
}


/*SECTION*/

.container {
	width: 85%;
	margin: 0 auto;
	padding-top: 75px;
	padding-bottom: 70px;
}

.container h2 {
	padding-bottom: 40px;
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 1px 1px 1px gray;
	color: #035472;
	text-transform: uppercase;
}

.headingIcon {
	padding-right: 15px;
}

.container p {
	text-align: justify;
	line-height: 1.8;	
	padding-bottom: 20px;	
}

.aboutMe-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.aboutMe-text {
	width: 70%;
}

.aboutMe-content img {
	width: 25%;
	box-shadow: 3px 3px 10px gray;	
	border-radius: 3%;	
}

#photoGallery, #whyFAC {
	width: 100%;
	background-color: #E9F6FE;
}

#whyCoding ul {
	margin-left: 70px;
	line-height: 1.8;
}

#whyCoding ul li a {
	font-size: 1.1rem;
	text-decoration: none;
	outline: none;
	color: black;
}

#whyCoding ul li a:hover {	
	color: #035472;
	font-weight: bold;	
}

.text-container {
	column-count: 2;
	column-gap: 40px;
}

.box1 {
	display: flex;
	align-items: center;
	justify-content: center;	
}

.square {
	width: 60px;
	height: 60px;
	background-color: #017C9E;
	border-radius: 0%;
	animation-name: toCircle;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.triangle {
	width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #017C9E;
}

.circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #017C9E;
	animation-name: toSquare;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes toCircle {
	from {
		border-radius: 0%;
	}

	to {
		border-radius: 50%;
	}
}

@keyframes toSquare {
	from {
		border-radius: 50%;
	}

	to {
		border-radius: 0%;
	}
}

#contact ul {
	margin-left: 60px;
	line-height: 2;
	list-style: none;
}

#topBtn {
	border: 1px solid transparent;
	border-radius: 50%;
	padding: 7px 12px;	
	outline: none;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: bold;
	color: #017C9E;	
	background-color: transparent;
	position: fixed;
	z-index: 30;
	bottom: 40px;
	right: 45px;
	opacity: 0.7;
	cursor: pointer;
	display: none;
}

#topBtn:hover {
	opacity: 1;
	color: white;
	background-color: #017C9E;
	box-shadow: 1px 1px 3px gray;
}


/*IMAGE CAROUSEL*/

.carousel-container {
	max-width: 680px;
	height: auto;
	margin: 30px auto 15px;
	overflow: hidden;
	position: relative;
	border: 16px solid #035472;
	box-shadow: 10px 10px 7px gray;
}

.carousel-container img {
	width: 100%;
	height: auto;		
}

.carousel-slide {
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: auto;		
}

#prevBtn, #nextBtn {
	position: absolute;
	top: 45%;
	z-index: 10;	
	background-color: transparent;
	font-size: 2rem;
	color: white;	
	cursor: pointer;
	opacity: 0.4;
	border: none;
	outline: none;
}

#prevBtn {
	left: 3%;
}

#nextBtn {	
	right: 3%;	
}

#prevBtn:hover, #nextBtn:hover {
	opacity: 1;
	font-size: 2.3rem;
	text-shadow: 1px 1px 3px black;
}

#playBtn, #pauseBtn {	
	color: white;
	opacity: 0.4;	
	border: none;	
	background-color: transparent;	
	font-size: 1.8rem;
	cursor: pointer;
	text-decoration: none;	
	outline: none;
	position: absolute;
	top: 6%;
	left: 4%;
}

#pauseBtn {
	display: none;
}

#playBtn:hover, #pauseBtn:hover {
	opacity: 1;	
	font-size: 1.9rem;
	text-shadow: 1px 1px 3px black;
}


/*FOOTER*/

footer {
	width: 92%;
	margin: 0 auto;	
	text-align: center;
}

footer p {
	padding: 15px;
	font-size: 0.9rem;
}

hr {
	border-top: 0.5px solid lightgray;
}


/*MEDIAQUERI*/

@media screen and (max-width: 768px) {

	nav h2 {	
		font-size: 1.2rem;
	}

	nav li {
		font-size: 0.9rem;
		padding: 5px 0px 5px 17px;
	}

	.intro-content {		
		top: 27%;
		left: 17%;		
	}	

	.intro-content h1 {	
		font-size: 2.7rem;		
	}

	.intro-content h3 {	
		font-size: 2.0rem;		
	}

	.text-container {
		column-count: 1;		
	}

	.carousel-container {		
		margin: 10px auto;		
	}

}


@media screen and (max-width: 425px) {

	nav h2 {	
		font-size: 0.8rem;
	}

	nav li {
		font-size: 0.7rem;
		padding: 5px 0px 5px 12px;
	}

	.intro-content {		
		top: 27%;
		left: 17%;		
	}	

	.intro-content h1 {	
		font-size: 1.9rem;		
	}

	.intro-content h3 {	
		font-size: 1.3rem;		
	}

	.container h2 {
		font-size: 1.5rem;
	}

	.text-container {
		column-count: 1;		
	}

	.aboutMe-content {
		flex-wrap: wrap;
		justify-content: flex-start;		
	}

	.aboutMe-text {
		width: 100%;
	}

	.aboutMe-content img {
		width: 80%;
		margin: 5px 10%;		
	}

	.carousel-container {		
		margin: 10px auto;
		border: 10px solid #035472;	
	}

	#prevBtn, #nextBtn {		
		font-size: 1.2rem;		
	}

	#prevBtn:hover, #nextBtn:hover {		
		font-size: 1.3rem;		
	}

	#playBtn, #pauseBtn {		
		font-size: 1.2rem;		
	}

	#playBtn:hover, #pauseBtn:hover {		
		font-size: 1.3rem;		
	}

	#topBtn {
		bottom: 20px;
		right: 25px;
	}

}