* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {	
	background-color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}


/*NAVBAR*/

nav {
	background-color: transparent;/*#7E89B0;*/
	width: 100%;
	position: fixed;
	z-index: 20;
	/*box-shadow: 0px 2px 10px gray;*/
}

.nav-container {
	width: 93%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav h2 {	
	padding: 13px 13px 13px 0px;
}

nav h2 a {
	color: white;
	text-decoration: none;
	outline: none;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	padding: 5px 0px 5px 25px;
	text-transform: uppercase;
}

nav ul a {
	color: white;	
	text-decoration: none;
}

nav ul a:hover {
	color: gray;/*#001324;*//*#2F3A42;*/	
	transition: all 0.2s ease-in-out;
	font-weight: bold;
	text-shadow: 1px 1px 3px black;
}

nav i {
	padding-right: 7px;	
}

.navBarStyle {
	background: url("images/nav.jpg") center no-repeat;
	background-size: cover;	
	box-shadow: 0px 3px 10px gray;
}


/*INTRO*/

.intro-container {
	position: relative;
	background: url(images/bg1.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
}

.intro-content {
	position: absolute;
	top: 32%;
	left: 50%;
	color: white;
	cursor: pointer;
}

.intro-content:hover {
	color: lightgray;
}

.intro-content h1 {	
	font-size: 3.2rem;
	text-shadow: 3px 2px 5px black;	
}

.intro-content h3 {	
	font-size: 2rem;
	text-shadow: 3px 2px 3px black;	
}


/*SECTION*/

.container {
	width: 85%;
	margin: 0 auto;
	padding-top: 75px;
	padding-bottom: 70px;
}

.container h2 {
	padding-bottom: 40px;
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 1px 1px 1px gray;
	color: #035472;/*#2F3A42;*/
	text-transform: uppercase;
}

.headingIcon {
	padding-right: 15px;
}

.container p {
	/*text-align: justify;*/
	line-height: 1.8;
	/*padding-left: 12%;*/
	padding-bottom: 20px;	
}

.aboutMe-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.aboutMe-text {
	width: 70%;
}

.aboutMe-content img {
	width: 25%;
	box-shadow: 3px 3px 10px gray;	
	border-radius: 3%;	
}

#photoGallery, #whyFAC {
	width: 100%;
	background-color: #E9F6FE; /*#EFF8FD;*/ /*#F5F7FF;*/
}

#whyCoding ul {
	margin-left: 70px;
	line-height: 1.8;
}

#whyCoding ul li a {
	text-decoration: none;
	outline: none;
	color: black;
}

#whyCoding ul li a:hover {	
	color: #035472;
	font-weight: bold;
	
}



/*IMAGE CAROUSEL*/

.carousel-container {
	width: 60%;
	margin: 25px auto;
	overflow: hidden;
	position: relative;
	box-shadow: 3px 3px 7px gray;
}

.carousel-container img {
	width: 100%;		
}

.carousel-slide {
	display: flex;
	width: 100%;		
}

#prevBtn, #nextBtn {
	position: absolute;
	top: 45%;
	z-index: 10;	
	background-color: transparent;
	font-size: 2rem;
	color: white;	
	cursor: pointer;
	opacity: 0.4;
	border: none;
	outline: none;
}

#prevBtn {
	left: 5%;
}

#nextBtn {	
	right: 5%;	
}

#prevBtn:hover, #nextBtn:hover {
	opacity: 1;
	font-size: 2.3rem;
	text-shadow: 1px 1px 3px black;
}

#playBtn, #pauseBtn {	
	color: white;
	opacity: 0.4;	
	border: none;	
	background-color: transparent;	
	font-size: 1.8rem;
	cursor: pointer;
	text-decoration: none;	
	outline: none;
	position: absolute;
	top: 8%;
	left: 5%;
}

#pauseBtn {
	display: none;
}

#playBtn:hover, #pauseBtn:hover {
	opacity: 1;	
	font-size: 1.9rem;
	text-shadow: 1px 1px 3px black;
}



/*-----------*/


#topBtn {
	border: 1px solid transparent;
	border-radius: 50%;
	padding: 7px 12px;	
	outline: none;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: bold;
	color: #035472; /*#1283A3;*//*#7E89B0;*/	
	background-color: transparent;
	position: fixed;
	z-index: 30;
	bottom: 40px;
	right: 45px;
	opacity: 0.7;
	cursor: pointer;
	display: none;
}

#topBtn:hover {
	opacity: 1;
	color: white;
	background-color: #035472;
	box-shadow: 1px 1px 3px gray;
}



/*FOOTER*/
footer {
	width: 92%;
	margin: 0 auto;
	/*background-color:*//*#023E5A;*/ /*#7E89B0;*/
	text-align: center;
}

footer p {
	padding: 15px;
	font-size: 0.9rem;
}

hr {
	border-top: 0.5px solid lightgray;
}

/*------------------*/





span {
	color: #6173B2; /*#7E89B0;*/ /*#6C36EA;*/ /*#6A1BDD;*/
	font-weight: bold;
	font-size: 19px;
	/*text-shadow: 1px 1px 0px gray;*/
}



/*transform: translate(-50%, -50%);*/


/*#aboutMe-title::before, #whyCoding-title::before, #photoGallery-title::before, 
#whyFac-title::before, #contact-title::before {
	content: '';
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;	  
}*/